# Laravel & PHP related
/vendor/
node_modules/
.env
.env.*.backup
Homestead.json
Homestead.yaml
vagrantfile

# Laravel storage and logs
/storage/
storage/*.key
/public/storage
/public/hot
/public/vendor
/public/mix-manifest.json

# IDE and editor specific
.idea/
.vscode/
*.sublime-workspace

# Composer & NPM related
composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# Cache, debug logs & compiled files
/.phpunit.result.cache
/.phpstorm.meta.php
/.vscode/
.phpunit.cache
/.phpunit.result.cache
/node_modules/
/npm-debug.log
/yarn-error.log

# Ignoring Laravel Mix and Vite files
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map
/public/build
/resources/js/*.map
/resources/css/*.map

# Ignoring test coverage reports
/coverage/
phpunit.xml

# Ignoring SQLite database
/database/database.sqlite
/database/database.sqlite-journal
